body{
	background-color: #6912e0;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: "century gothic"
}
nav{
	width:100%;
	height: 70px;
	background-color: #000;
	
}
nav ul{
	float: right;
	
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	margin-top: 15px;
	
	font-family: Verdana;
	font-size: 30px;

}
nav ul li a{
	text-decoration: none;
	color: #000;
	line-height: 100px
	padding: 35px 10px;
	font-size: 13px;
	letter-spacing: 0.5px;
	margin top:20px;color: #fff;
	background-color: #0009;
	border-radius: 3px;
	padding: 16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
}
nav ul li a:hover{
	background-color: #6912e0;
	color: #fff;
	transition: 0.8s ease;
}
.logo img{
	float: left;
	width: 180px;
	height: auto;
}
.container{
	width: 100%;
	height: auto;
	background-color: #fff;
}

.SliderFrame1{
	width: 100%;
	background-image: url(002.jpg);
	height: 630px;
	background-size: cover;
	background-position: center;
	display: flex;
	 align-items: center;

}
.Title{
width:40%;
position: absolute;
height: auto;
left: 18.5%;

}
 h1{
	font-family: sans-serif;
	font-size: 45px;
	color:#fff ;
	line-height: 65px;
}
p{
	font-family: Times New Roman;
	font-size: 28px;
	color:#01d7a7;
	line-height: 1.5;
	margin-top: 15px;
	padding-right: 25px;

}
.btn{
	color: #fff;
	background-color: #0009;
	border-radius: 3px;
	padding: 16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 26px;
	display: inline-block;
	font-size: 16px;
	font-family: Verdana;

}
.btn:hover{
	background-color: #6912e0;
	color:#fff;
	transition: 0.8s ease;
}

.main{
	width: 1200px;
	height: auto;
	
	text-align: center;
	margin-left: 46px;


}
.flex-container{
	margin-top: 80px;
clear: both;
flex-direction: left;
display: inline-flex;
}
 h5{
	font-family: agency fb;
	font-size: 30px;
	color: #000;
	
	margin:20px 0px;
}
p.m{
font-family: ar cena;
font-size: 15px;
color: #727272;
text-align: center;
}
.SliderFrame2 {
width: 100%;
	background-image: url(223.jpg);
	height: 630px;
	background-size: cover;
	background-position: center;
	display: flex;
	 align-items: center;
	 margin-top: 20px;
}

.aboutcol{
	width: 17%;
	float: left;
	padding: 4%;
	background-color: #000;
}
.aboutcol h2{
	font-size: 25px;
	color: #6912e0;
	text-align: center;
}
.aboutcol h3{
	font-size: 25px;
	color: #fff;
	text-align: center;
}
.aboutcol h6{
	font-size: 15px;
	color: #6912e0;
	text-align: center;
}

.SliderFrame3 {
width: 100%;
	background-image: url(TD.jpg);
	height: 900px;
	background-size: cover;
	background-position: center;
	display: flex;
	 align-items: center;
	 margin-top: 0px;
}
